# 3W dataset's General Presentation

# 1. Imports and Configurations

In [1]:
import sys
import os

import pandas as pd
import numpy as np

sys.path.append(os.path.join('..','..'))
import toolkit as tk

%matplotlib inline
%config InlineBackend.figure_format = 'svg'

c:\Users\romar\AppData\Local\anaconda3\envs\3W\lib\site-packages\tslearn\bases\bases.py:15: UserWarning:

h5py not installed, hdf5 features will not be supported.
Install h5py to use hdf5 features: http://docs.h5py.org/

# 2. Instances' Structure

Below, all 3W dataset's instances are loaded and the first one of each knowledge source (real, simulated and hand-drawn) is partially displayed.

In [2]:
real_instances, simulated_instances, drawn_instances = tk.get_all_labels_and_files()
tk.load_instance(real_instances[0])

,label,well,id,P-PDG,P-TPT,T-TPT,P-MON-CKP,T-JUS-CKP,P-JUS-CKGL,T-JUS-CKGL,QGL,class
timestamp,,,,,,,,,,,,
2017-02-01 02:02:07,0,WELL-00001,20170201020207,0.0,10092110.0,119.0944,1609800.0,84.59782,1564147.0,NaN,0.0,0
2017-02-01 02:02:08,0,WELL-00001,20170201020207,0.0,10092000.0,119.0944,1618206.0,84.58997,1564148.0,NaN,0.0,0
2017-02-01 02:02:09,0,WELL-00001,20170201020207,0.0,10091890.0,119.0944,1626612.0,84.58213,1564148.0,NaN,0.0,0
2017-02-01 02:02:10,0,WELL-00001,20170201020207,0.0,10091780.0,119.0944,1635018.0,84.57429,1564148.0,NaN,0.0,0
2017-02-01 02:02:11,0,WELL-00001,20170201020207,0.0,10091670.0,119.0944,1643424.0,84.56644,1564148.0,NaN,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
2017-02-01 06:59:56,0,WELL-00001,20170201020207,0.0,10014690.0,119.0453,1504822.0,83.44021,1567749.0,NaN,0.0,0
2017-02-01 06:59:57,0,WELL-00001,20170201020207,0.0,10014690.0,119.0452,1510422.0,83.45413,1567749.0,NaN,0.0,0
2017-02-01 06:59:58,0,WELL-00001,20170201020207,0.0,10014690.0,119.0451,1516023.0,83.46806,1567750.0,NaN,0.0,0
2017-02-01 06:59:59,0,WELL-00001,20170201020207,0.0,10014690.0,119.0450,1521623.0,83.48199,1567750.0,NaN,0.0,0
2017-02-01 07:00:00,0,WELL-00001,20170201020207,0.0,10014690.0,119.0449,1527223.0,83.49591,1567750.0,NaN,0.0,0

In [3]:
type(real_instances)

list

In [4]:
len(real_instances)

1019

In [23]:
df0 = tk.load_instance(real_instances[1])

In [24]:
df0.shape

(17927, 12)

In [26]:
df_real = pd.DataFrame()

for i in range(len(real_instances)):

    df_real = pd.concat([df_real, tk.load_instance(real_instances[i])])

In [29]:
df_real.well.unique()

array(['WELL-00001', 'WELL-00002', 'WELL-00003', 'WELL-00004',
       'WELL-00005', 'WELL-00006', 'WELL-00007', 'WELL-00008',
       'WELL-00009', 'WELL-00010', 'WELL-00011', 'WELL-00012',
       'WELL-00013', 'WELL-00014', 'WELL-00015', 'WELL-00016',
       'WELL-00017', 'WELL-00018'], dtype=object)

In [30]:
df_real.shape

(14516197, 12)

In [20]:
df_real.to_parquet('C:\\Users\\romar\\Documents\\Doutorado - UFBA\\Enegep2024\\real_instances.parquet.gzip',
              compression='gzip')